@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

:root{
    --light:#e3e3db;
    --dark:#0f0f0f;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    font-family:"instrument serif",sans-serif;
    background-color:var(--light);
    color:var(--dark);
}
img{
    width:100%;
    height:100%;
    object-fit:cover;
}

h1{
    font-size:clamp(5rem,6vm,7rem);
    font-weigh:500;
    line-height:0.8;
}

p{
    font-size:1.35rem;
    line-heightL1;

}

section{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}
.hero{
    perspective:1000px;
    color:var(--light);
}

.outro{
    padding:2rem;
    displauy:flex;
    justify-content:center;
    alight-items:center;
    text-align:center;
}

.sky-container,.hero-copy,.window-container,.hero-header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    will-change:transform;
}

.sky-container{
    height:350vh;

}

.hero-copy{
    height:100svh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-copy h1{
    width:85%;
}

.hero-header{
    height:100svh;
    padding:2rem;
    display:flex;
    transform-style:preserve-3d;
}

.hero-header col{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.hero-header col p{
    width:50%
}

.hero-header .col:nth-child(2){
    align-items:flex-end;
    text-align:right;
}

@media(max-width:1000px){
    h1{
        font-size:3rem;

    }

    p{
        font-size:1.125rem;
    }
}